@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");
:root {
  --color-text-primary: #212529;
  --color-bg-canvas: #ebeffa;
  --card-bg: #ffffff;
  --bs-primary: #1171ef;
}

.dark-theme {
  --color-text-primary: #f0f6fc;
  --color-bg-canvas: #0d1117;
  --card-bg: #39434d;
}

body {
  background-color: #fff;
  font-size: 1rem;
  font-family: "Nunito", sans-serif;
  color: var(--color-text-primary);
}

.card,
.modal-content {
  color: var(--color-text-primary);
  background: var(--card-bg);
  -webkit-box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.2);
}

table td,
table th {
  color: var(--color-text-primary);
  background: var(--card-bg) !important;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
  border-radius: 10px;
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #7367f0;
}

::-moz-selection {
  background-color: #7367f0;
  color: #fff;
}

::selection {
  background-color: #7367f0;
  color: #fff;
}

.form-label {
  font-weight: 600;
}

.table_social_link a {
  text-decoration: none;
}

.table_social_link a:hover i {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  color: #7367f0;
}

.table_social_link a i {
  color: #949fb1;
  border-radius: 50%;
  margin-right: 8px;
  font-size: 1rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.dropdown-toggle.rounded-circle {
  padding: 0 !important;
}

.dropdown-toggle.rounded-circle span {
  width: 36px;
  height: 36px;
  font-weight: 700;
  font-size: 1rem;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(0, 0, 0, 0.2);
  color: rgba(255, 255, 255, 0.9);
  border-radius: 2rem;
}

.dropdown-toggle.rounded-circle::after {
  display: none;
}

#navbarNav .dropdown-menu {
  left: unset;
  right: 0;
}

.table {
  position: relative;
  font-size: 14px;
}

.table tr th,
.table tr td {
  vertical-align: middle;
}

.table thead {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.table .name_of_contact {
  min-width: 250px;
}

.table .actions {
  min-width: 100px;
  white-space: nowrap;
}

.table .title {
  min-width: 200px;
}

.table .name_of_company {
  min-width: 320px;
}

.table .industry {
  min-width: 180px;
}

.table .head-count {
  min-width: 100px;
}

.table .email {
  min-width: 140px;
}

.tableFixHead thead th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  -webkit-box-shadow: 1px 1px 0px 1px rgba(0, 0, 0, 0.15);
          box-shadow: 1px 1px 0px 1px rgba(0, 0, 0, 0.15);
}

.click-to-copy:hover {
  color: var(--bs-blue);
}

.top-nav .nav-link {
  color: #eee !important;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border-radius: 5px;
}

.top-nav .nav-link:hover {
  color: #fff !important;
  background-color: rgba(0, 0, 0, 0.2);
}

.top-nav .nav-link.active {
  color: #fff !important;
  background-color: rgba(0, 0, 0, 0.2);
}

.top-nav .nav-link i {
  color: #fff;
  margin-right: 5px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  vertical-align: middle;
}

.top-nav .nav-link.nav-btn {
  padding-left: 0;
  padding-right: 0;
}

.top-nav .nav-link.nav-btn:hover {
  background-color: transparent;
}

.top-nav .nav-link.nav-btn span {
  background-color: #324cdd;
  border-color: #324cdd;
  padding: 0.25rem 1rem;
  border-radius: 5px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.top-nav .nav-link.nav-btn span:hover {
  background-color: #26317b;
}

.btn-group .bi-tooltip {
  padding-left: 16px;
  padding-right: 16px;
}

.btn-group .bi-tooltip:hover {
  color: #fff !important;
}

.dropdown.bi-tooltip {
  padding-left: 0;
  padding-right: 0;
}

#peopleTable thead,
#compTable thead {
  -webkit-box-shadow: 1px 1px 5px #dee2e6;
          box-shadow: 1px 1px 5px #dee2e6;
}

#peopleTable thead th,
#compTable thead th {
  white-space: nowrap;
  padding: .75rem .5rem;
  background-color: #eceff1 !important;
  font-weight: 600;
}

#peopleTable tbody tr,
#compTable tbody tr {
  height: 70px;
  border-bottom: 1px solid #dee2e6;
}

.has-options {
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
}

.clear-btn {
  position: absolute;
  right: 12px;
  top: -22px;
}

.clear-btn a {
  font-size: 12px;
  text-decoration: none;
}

@media (max-width: 1400px) {
  body {
    font-size: 0.875rem;
  }
}

/* ============ desktop view ============ */
@media all and (min-width: 992px) {
  .dropdown-menu li {
    position: relative;
  }
  .nav-item .submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
  }
  .nav-item .submenu-left {
    right: 100% !important;
    left: auto !important;
  }
  .dropdown-menu > li:hover {
    background-color: #f1f1f1;
  }
  .dropdown-menu > li:hover > .submenu {
    display: block;
  }
}

/* ============ desktop view .end// ============ */
/* ============ small devices ============ */
@media (max-width: 991px) {
  .dropdown-menu .dropdown-menu {
    margin-left: 0.7rem;
    margin-right: 0.7rem;
    margin-bottom: 0.5rem;
  }
}

/* ============ small devices .end// ============ */
.btn-primary {
  border: none;
  background: #7367f0 !important;
}

.btn-outline-primary {
  color: #7367f0;
  border-color: #7367f0;
}

.btn-outline-primary:hover,
.btn-outline-primary:focus {
  background-color: #7367f0;
  color: #fff;
}

.bg-primary {
  background-color: #7367f0 !important;
}

.bg-success {
  background-color: #2dce89 !important;
}

.bg-warning {
  background-color: #fb6340 !important;
}

.text-primary {
  color: #7367f0 !important;
}

.page-link {
  color: #7367f0;
}

.border-primary {
  border-color: #7367f0 !important;
}

.page-item.active .page-link {
  background-color: #7367f0;
  border-color: #7367f0;
}

.subscribe-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.rounded-lg {
  border-radius: 1rem !important;
}

.text-small {
  font-size: 0.9rem !important;
}

.custom-separator {
  width: 5rem;
  height: 6px;
  border-radius: 1rem;
}

.text-uppercase {
  letter-spacing: 0.05em;
}

.megamenu {
  padding: 20px !important;
}

.megamenu .menu-title {
  padding: 0 10px;
}

.megamenu .dropdown-item {
  padding: 10px;
  border-radius: 5px;
  font-weight: 600;
}

.sibedarMenuUser {
  padding: 0 !important;
}

.dropdown-menu,
.sibedarMenuUser {
  padding: 8px;
  min-width: 200px;
  list-style: none;
  margin-bottom: 0;
}

.dropdown-menu li:hover,
.sibedarMenuUser li:hover {
  background-color: transparent;
}

.dropdown-menu a,
.sibedarMenuUser a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 8px 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  border-radius: 6px;
  text-decoration: none;
  color: #363636;
}

.dropdown-menu a i,
.sibedarMenuUser a i {
  background-color: #e9ecef;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dropdown-menu a:hover, .dropdown-menu a.active,
.sibedarMenuUser a:hover,
.sibedarMenuUser a.active {
  background-color: #e6ecff;
  color: #7367f0;
}

.dropdown-menu a:hover i, .dropdown-menu a.active i,
.sibedarMenuUser a:hover i,
.sibedarMenuUser a.active i {
  background-color: #7267f025;
}

.sidebar .card {
  padding: 1rem !important;
}

.sidebar .card .card-body {
  padding: 5px;
  margin: 0 !important;
  height: calc(100vh - 135px);
}

.sideNavbar .card {
  padding: 1rem .25rem 1rem 1rem !important;
  border-radius: 0;
  border-right: 1px solid #eee;
}

.sideNavbar .card .card-body {
  padding: 5px;
  margin: 0 !important;
  height: calc(100vh - 90px);
  overflow-y: auto;
  border-radius: 0;
}

.fullHeightWithNavBar {
  height: calc(100vh - 56px);
}

.fullHeightWithNavBar .card {
  padding: 1rem;
}

.fullHeightWithNavBar .card-body {
  padding: 5px;
  padding-right: 1rem;
  max-height: calc(100vh - 135px);
  margin-right: -0.75rem;
  overflow-y: auto;
}

.fullHeightWithNavBar .card-body .cardTitle {
  padding: 14px 16px;
  background-color: #e6ecff;
  color: #7367f0;
  border-radius: 6px;
}

.fullHeightWithNavBar .card-body .cardTitle h5 {
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 0;
}

.card {
  border-radius: 10px;
  border: 0;
  -webkit-box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.075);
          box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.075);
}

.selectAllCheckbox span {
  font-size: .75rem;
  margin: 0 3px;
}

.selectAllCheckbox span.selectBtn {
  cursor: pointer;
  color: #7367f0;
}
/*# sourceMappingURL=style.css.map */