@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");

:root {
  --color-text-primary: #212529;
  --color-bg-canvas: #ebeffa;
  --card-bg: #ffffff;
  // --bs-gray-dark: #363636;
  --bs-primary: #1171ef;
  --primary-color: #7367f0;
  // --bs-secondary: #6c757d;
  // --bs-success: #48c78e;
  // --bs-info: #3e8ed0;
  // --bs-warning: #ffe08a;
  // --bs-danger: #f14668;
  // --bs-light: #f5f5f5;
  // --bs-dark: #212529;
}

.dark-theme {
  --color-text-primary: #f0f6fc;
  --color-bg-canvas: #0d1117;
  --card-bg: #39434d;
}

body {
  background-color: #e3f2fd29;
  font-size: 1rem;
  font-family: "Nunito", sans-serif;
  color: var(--color-text-primary);
}

.card,
.modal-content {
  color: var(--color-text-primary);
  background: var(--card-bg);
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.2);
}

table td,
table th {
  color: var(--color-text-primary);
  background: var(--card-bg) !important;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
  border-radius: 10px;
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #7367f0;
  // background-image: -webkit-linear-gradient(45deg,
  //     rgba(255, 255, 255, 0.2) 25%,
  //     transparent 25%,
  //     transparent 50%,
  //     rgba(255, 255, 255, 0.2) 50%,
  //     rgba(255, 255, 255, 0.2) 75%,
  //     transparent 75%,
  //     transparent);
}

::selection {
  background-color: #7367f0;
  color: #fff;
}

.form-label {
  font-weight: 600;
}

.table_social_link {
  a {
    text-decoration: none;

    &:hover i {
      transform: translateY(-5px);
      color: #7367f0;
    }

    i {
      color: #949fb1;
      border-radius: 50%;
      margin-right: 8px;
      font-size: 14px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      transition: all 0.2s ease;

      // &.fa-linkedin-in {
      //   background: #0085ae;
      // }

      // &.fa-twitter {
      //   background: #32ccfe;
      // }

      // &.fa-facebook-f {
      //   background: #3c599f;
      // }

      // &.fa-globe {
      //   background: var(--bs-primary);
      // }
    }
  }
}

// .select2-container .select2-selection--single {
//   height: 35px;
//   margin-bottom: 5px;
// }

// .select2-container--default .select2-selection--single .select2-selection__rendered {
//   line-height: 33px;
// }

// .select2-container--default .select2-selection--single .select2-selection__arrow {
//   height: 34px;
// }

// .select2-container .select2-selection--multiple {
//   min-height: 35px;
//   margin-bottom: 5px;
// }

// .select2-container .select2-search--inline .select2-search__field {
//   height: 25px;
//   font-size: 1rem;
//   padding-left: 10px;
// }

// input,
// select,
// .select2-container--default .select2-selection--single,
// .select2-container .select2-selection--multiple {
//   border: 1px solid #ccc;
// }
// select:focus,
// .select2-container--default .select2-selection--single:focus,
// .select2-container .select2-selection--multiple:focus {
//   border-color: #86b7fe !important;
//   box-shadow: none !important;
//   outline: none !important;
// }

.dropdown-toggle.rounded-circle {
  padding: 0 !important;

  span {
    width: 36px;
    height: 36px;
    font-weight: 700;
    font-size: 1rem;
    display: grid;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.2);
    color: rgba(255, 255, 255, 0.9);
    border-radius: 2rem;
  }

  &::after {
    display: none;
  }
}

#navbarNav {
  .dropdown-menu {
    left: unset;
    right: 0;
  }
}

.table {
  position: relative;
  font-size: 14px;

  tr {
    th,
    td {
      vertical-align: middle;
      // border: 0;
    }
  }

  thead {
    position: sticky;
    top: 0;
  }

  .name_of_contact {
    min-width: 250px;
  }

  .actions {
    min-width: 100px;
    white-space: nowrap;
  }

  .title {
    min-width: 200px;
  }

  .name_of_company {
    min-width: 320px;
  }

  .industry {
    min-width: 180px;
  }

  .head-count {
    min-width: 100px;
  }

  .email {
    min-width: 140px;
  }
}

.tableFixHead {
  thead th {
    position: sticky;
    top: 0;
    z-index: 1;
    box-shadow: 1px 1px 0px 1px rgba(0, 0, 0, 0.15);
  }
}

.click-to-copy:hover {
  color: var(--bs-blue);
}

.top-nav {
  .nav-link {
    color: #eee !important;
    transition: all 0.2s ease;
    border-radius: 5px;

    &:hover {
      color: #fff !important;
      background-color: rgba(0, 0, 0, 0.2);
    }

    &.active {
      color: #fff !important;
      background-color: rgba(0, 0, 0, 0.2);
    }

    i {
      color: #fff;
      margin-right: 5px;
      transition: all 0.2s ease;
      vertical-align: middle;
    }
  }

  .nav-link.nav-btn {
    padding-left: 0;
    padding-right: 0;

    &:hover {
      background-color: transparent;
    }

    span {
      background-color: #324cdd;
      border-color: #324cdd;
      padding: 0.25rem 1rem;
      border-radius: 5px;
      transition: all 0.2s ease;

      &:hover {
        background-color: #26317b;
      }
    }
  }
}

.btn-group {
  .bi-tooltip {
    padding-left: 16px;
    padding-right: 16px;

    &:hover {
      color: #fff !important;
    }
  }
}

.dropdown.bi-tooltip {
  padding-left: 0;
  padding-right: 0;
}

#peopleTable,
#compTable {
  thead {
    box-shadow: 1px 1px 5px #dee2e6;

    th {
      white-space: nowrap;
      padding: 0.75rem 0.5rem;
      background-color: #eceff1 !important;
      font-weight: 700;
    }
  }

  tbody tr {
    // box-shadow: 0px 1px 8px #dee2e6;
    height: 70px;
    border-bottom: 1px solid #dee2e6;
    // line-height: 1.5rem;

    &:hover {
      --bs-table-accent-bg: rgba(230, 236, 255, 0.5);
    }
  }

  // &.table {
  //   border-collapse: separate;
  //   border-spacing: 0 1em;
  // }
}

.has-options {
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
}

.clear-btn {
  position: absolute;
  right: 12px;
  top: -22px;

  a {
    font-size: 12px;
    text-decoration: none;
  }
}

// .table-section {
//   display: table;
//   width: auto;

//   .tr {
//     display: table-row;
//     box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.15);
//     margin-bottom: 15px;
//     width: auto;
//     clear: both;
//   }

//   .th {
//     padding: 0.825rem 0.5rem;
//     font-weight: 700;
//     white-space: nowrap;
//     color: #777;
//     display: table-column;

//     .form-check-input {
//       padding: 5px 7px;
//     }
//   }

//   .td {
//     padding: 0.825rem;
//     white-space: nowrap;
//     display: table-column;

//     .form-check-input {
//       padding: 5px 7px;
//     }
//   }

//   .th.contact_name,
//   .td.contact_name {
//     width: 220px;
//   }

//   .th.action,
//   .td.action {
//     width: 80px;
//   }

//   .th.title,
//   .td.title {
//     width: 180px;
//     white-space: pre-wrap;
//   }

//   .th.company,
//   .td.company {
//     width: 220px;
//     white-space: pre-wrap;
//   }
// }

@media (max-width: 1400px) {
  body {
    font-size: 0.875rem;
  }
}

/* ============ desktop view ============ */
@media all and (min-width: 992px) {
  .dropdown-menu li {
    position: relative;
  }

  .nav-item .submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
  }

  .nav-item .submenu-left {
    right: 100% !important;
    left: auto !important;
  }

  .dropdown-menu > li:hover {
    background-color: #f1f1f1;
  }

  .dropdown-menu > li:hover > .submenu {
    display: block;
  }
}

/* ============ desktop view .end// ============ */

/* ============ small devices ============ */
@media (max-width: 991px) {
  .dropdown-menu .dropdown-menu {
    margin-left: 0.7rem;
    margin-right: 0.7rem;
    margin-bottom: 0.5rem;
  }
}

/* ============ small devices .end// ============ */

// .bg-primary {
//   background-color: #485fc7 !important;
// }
// .btn {
//   border: none;
// }

.btn-primary {
  background: #7367f0 !important;
}

.btn-outline-primary {
  color: #7367f0;
  border-color: #7367f0;
}

.btn-outline-primary:hover,
.btn-outline-primary:focus {
  background-color: #7367f0;
  color: #fff;
}

.bg-primary {
  background-color: #7367f0 !important;
}

.bg-success {
  background-color: #2dce89 !important;
}

.bg-warning {
  background-color: #fb6340 !important;
}

.btn-group .btn {
  border: 0;
}

.text-primary {
  color: #7367f0 !important;
}

.page-link {
  color: #7367f0;
}

.border-primary {
  border-color: #7367f0 !important;
}

.page-item.active .page-link {
  background-color: #7367f0;
  border-color: #7367f0;
}

.subscribe-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.rounded-lg {
  border-radius: 1rem !important;
}

.text-small {
  font-size: 0.9rem !important;
}

.custom-separator {
  width: 5rem;
  height: 6px;
  border-radius: 1rem;
}

.text-uppercase {
  letter-spacing: 0.05em;
}

.megamenu {
  padding: 20px !important;

  .menu-title {
    padding: 0 10px;
  }

  .dropdown-item {
    padding: 10px;
    border-radius: 5px;
    font-weight: 600;
  }
}

.sibedarMenuUser {
  padding: 0 !important;
  min-width: 200px;
}

.dropdown-menu {
  min-width: 200px;
}

.dropdown-menu,
.sibedarMenuUser {
  padding: 8px;
  list-style: none;
  margin-bottom: 0;

  li:hover {
    background-color: transparent;
  }

  a {
    display: flex;
    flex-direction: row;
    padding: 8px 10px;
    align-items: center;
    font-weight: 600;
    border-radius: 6px;
    text-decoration: none;
    color: #363636;

    i {
      background-color: #e9ecef;
      width: 34px;
      height: 34px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;

      &.right-chevron {
        background-color: transparent;
        position: absolute;
        right: 0;
      }
    }

    &:hover,
    &.active {
      background-color: #e6ecff;
      color: #7367f0;

      i {
        background-color: #7267f025;
        &.right-chevron {
          background-color: transparent;
        }
      }
    }
  }
}
.sub-menu-dropdown {
  &:hover {
    .sub-menu {
      display: block;
    }
  }
}
.dropdown-menu {
  &.sub-menu {
    position: absolute;
    right: 100% !important;
    top: -10px;
  }
}

.sidebar {
  .card {
    padding: 1rem !important;

    .card-body {
      padding: 5px;
      margin: 0 !important;
      height: calc(100vh - 135px);
    }
  }
}

.sideNavbar {
  position: fixed;
  height: 100%;
  width: 80px;
  background-color: #fff;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.08);
  z-index: 20;
  overflow: hidden;
  transition: all 0.2s linear;

  &:hover {
    width: 260px;
  }

  ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: #363636;
    padding: 10px;
    margin-bottom: 0;

    li {
      position: relative;
      width: 100%;
      list-style: none;
      transition: all 0.2s linear;
      border-radius: 8px;

      a {
        position: relative;
        display: flex;
        width: 100%;
        text-decoration: none;
        color: #363636;
        transition: all 0.2s linear;
        font-weight: 600;

        .icon {
          position: relative;
          min-width: 60px;
          height: 60px;
          line-height: 60px;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;

          i {
            background-color: #e9ecef;
            width: 34px;
            height: 34px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.1s linear;
          }
        }

        .title {
          position: relative;
          display: block;
          padding: 0 10px;
          height: 60px;
          line-height: 60px;
          text-align: start;
          white-space: nowrap;
        }
      }

      &:hover,
      &.active {
        background-color: #e6ecff;

        a {
          color: #7367f0;

          .icon {
            i {
              background-color: #7267f025;
            }
          }
        }
      }
    }
  }
}

.fullHeightWithNavBar {
  height: calc(100vh - 56px);

  .card {
    padding: 1rem;
    height: 100%;
  }

  .card-body {
    padding: 5px;
    padding-right: 1rem;
    max-height: calc(100vh - 135px);
    margin-right: -0.75rem;
    overflow-y: auto;

    .cardTitle {
      padding: 14px 16px;
      background-color: #e6ecff;
      color: #7367f0;
      border-radius: 6px;

      h5 {
        font-size: 17px;
        font-weight: 600;
        margin-bottom: 0;
      }
    }
  }
}

.card {
  border-radius: 10px;
  border: 0;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.075);
}

.selectAllCheckbox {
  span {
    font-size: 0.75rem;
    margin: 0 3px;

    &.selectBtn {
      cursor: pointer;
      color: #7367f0;
    }
  }
}

.public-DraftStyleDefault-block {
  padding-left: 20px;
  padding-right: 20px;
}

.signup-content {
  background: #7467f0;
  // background: -webkit-linear-gradient(top left, #c1bbff, #6b5edf);
  // background: -moz-linear-gradient(top left, #c1bbff, #7467f0);
  // background: linear-gradient(to bottom right, #c1bbff, #7467f0);
  height: 100vh;
  width: 65%;
  display: grid;
  place-content: center;

  ul {
    max-width: 600px;
    font-size: 1.4rem;
    font-weight: 600;
    color: #fff;
    line-height: 1.6;
  }
}

// Material Design for Input

.input-group {
  position: relative;
  margin-bottom: 20px;

  input,
  textarea {
    background: none;
    color: #212529;
    font-size: 1rem;
    padding: 8px 5px;
    display: block;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #949fb1;
    &:focus {
      outline: none;
    }
    &:focus ~ label,
    &:valid ~ label {
      top: -14px;
      font-size: 14px;
      font-weight: 600;
      color: var(--primary-color);
    }
    &:focus ~ .bar:before {
      width: 100%;
    }
    &::placeholder {
      color: #949fb1;
    }
  }

  input[type="password"] {
    letter-spacing: 0.3em;
  }

  label {
    color: #949fb1;
    font-size: 1rem;
    font-weight: 500;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 300ms ease all;
  }

  .bar {
    position: relative;
    display: block;
    width: 100%;
    &:before {
      content: "";
      height: 2px;
      width: 0;
      bottom: 0px;
      position: absolute;
      background: var(--primary-color);
      transition: 300ms ease all;
      left: 0%;
    }
  }

  .select-text {
    position: relative;
    font-family: inherit;
    background-color: transparent;
    width: 100%;
    font-size: 1rem;
    padding: 8px 5px;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #949fb1;
  }

  /* Remove focus */
  .select-text:focus {
    outline: none;
  }

  /* Use custom arrow */
  .select .select-text {
    appearance: none;
    -webkit-appearance: none;
  }

  .select:after {
    position: absolute;
    top: 18px;
    right: 10px;
    /* Styling the down arrow */
    width: 0;
    height: 0;
    padding: 0;
    content: "";
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid rgba(0, 0, 0, 0.12);
    pointer-events: none;
  }

  /* LABEL ======================================= */
  .select-label {
    color: #949fb1;
    font-size: 1rem;
    font-weight: 500;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 300ms ease all;
  }

  /* active state */
  .select-text:focus ~ .select-label,
  .select-text:valid ~ .select-label {
    color: var(--primary-color);
    top: -14px;
    transition: 300ms ease all;
    font-size: 14px;
    font-weight: 600;
  }

  /* BOTTOM BARS ================================= */
  .select-bar {
    position: relative;
    display: block;
    width: 100%;
    &:before {
      content: "";
      height: 2px;
      width: 0;
      bottom: 0px;
      position: absolute;
      background: var(--primary-color);
      transition: 300ms ease all;
      left: 0%;
    }
  }

  // .select-bar:before,
  // .select-bar:after {
  //   content: "";
  //   height: 2px;
  //   width: 0;
  //   bottom: 1px;
  //   position: absolute;
  //   background: var(--primary-color);
  //   transition: 0.2s ease all;
  // }

  // .select-bar:before {
  //   left: 50%;
  // }

  // .select-bar:after {
  //   right: 50%;
  // }

  /* active state */
  .select-text:focus ~ .select-bar:before {
    width: 100%;
  }

  /* HIGHLIGHTER ================================== */
  .select-highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
  }
}
.css-1rhbuit-multiValue {
  input {
    display: none;
  }
}

.planTable {
  td {
    padding: 5px;
  }
}

.tooltip-inner {
  max-width: 260px;
}
